{{define "head"}}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/variables.css">
	<link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="stylesheet" href="/assets/css/colors.css">
	<link rel="stylesheet" href="/assets/css/type-scales.css">
	<link rel="stylesheet" href="/assets/css/space.css">
	<link rel="stylesheet" href="/assets/css/grids.css">
	<link rel="stylesheet" href="/assets/css/elements.css">
	<link rel="stylesheet" href="/assets/css/components.css">
	<link rel="stylesheet" href="/assets/css/app-components.css">
</head>
{{end}}
