{{define "nav"}}
<div class="n-navigation-small grid full">
  <section>
    <a class="logo" href="/">
      <img src="/svg/50/50" alt="Logo">
    </a>
    <nav>
      <ul>
        <li>
          <a href="/">{{.Name}}</a>
        </li>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </nav>
    <nav>
      <a href="#" class="primary">Sign in</a>
      <!--<a href="#" class="secondary">Oi</a>
      <a href="#" class="delete">Sign out</a>-->
    </nav>
  </section>
</div>
{{end}}
