export NEXAMPLE_ENV=
export NEXAMPLE_PORT=

export NEXAMPLE_MYSQL_USER=
export NEXAMPLE_MYSQL_PASSWORD=
export NEXAMPLE_MYSQL_HOST=
export NEXAMPLE_MYSQL_DB=

export NEXAMPLE_BASE_ADDRESS=
export NEXAMPLE_SESSION_AUTH_KEY=
export NEXAMPLE_SESSION_ENCRYPT_KEY=
