* {
  --color-light-color-0-lightness: 45.0%;
  --color-light-color-0-chroma: 0.28;
  --color-light-color-0-hue: 235.0;
  --color-light-color-0-alpha: 1.0;
  --color-light-color-0: oklch(var(--color-light-color-0-lightness) var(--color-light-color-0-chroma) var(--color-light-color-0-hue) / var(--color-light-color-0-alpha));
  --color-light-color-1-lightness: 50.0%;
  --color-light-color-1-chroma: 0.26;
  --color-light-color-1-hue: 210.0;
  --color-light-color-1-alpha: 1.0;
  --color-light-color-1: oklch(var(--color-light-color-1-lightness) var(--color-light-color-1-chroma) var(--color-light-color-1-hue) / var(--color-light-color-1-alpha));
  --color-light-color-2-lightness: 52.0%;
  --color-light-color-2-chroma: 0.27;
  --color-light-color-2-hue: 260.0;
  --color-light-color-2-alpha: 1.0;
  --color-light-color-2: oklch(var(--color-light-color-2-lightness) var(--color-light-color-2-chroma) var(--color-light-color-2-hue) / var(--color-light-color-2-alpha));
  --color-light-color-3-lightness: 50.0%;
  --color-light-color-3-chroma: 0.25;
  --color-light-color-3-hue: 45.0;
  --color-light-color-3-alpha: 1.0;
  --color-light-color-3: oklch(var(--color-light-color-3-lightness) var(--color-light-color-3-chroma) var(--color-light-color-3-hue) / var(--color-light-color-3-alpha));
  --color-light-color-4-lightness: 50.0%;
  --color-light-color-4-chroma: 0.28;
  --color-light-color-4-hue: 235.0;
  --color-light-color-4-alpha: 1.0;
  --color-light-color-4: oklch(var(--color-light-color-4-lightness) var(--color-light-color-4-chroma) var(--color-light-color-4-hue) / var(--color-light-color-4-alpha));
  --color-light-color-5-lightness: 55.0%;
  --color-light-color-5-chroma: 0.26;
  --color-light-color-5-hue: 210.0;
  --color-light-color-5-alpha: 1.0;
  --color-light-color-5: oklch(var(--color-light-color-5-lightness) var(--color-light-color-5-chroma) var(--color-light-color-5-hue) / var(--color-light-color-5-alpha));
  --color-light-color-6-lightness: 57.0%;
  --color-light-color-6-chroma: 0.27;
  --color-light-color-6-hue: 260.0;
  --color-light-color-6-alpha: 1.0;
  --color-light-color-6: oklch(var(--color-light-color-6-lightness) var(--color-light-color-6-chroma) var(--color-light-color-6-hue) / var(--color-light-color-6-alpha));
  --color-light-color-7-lightness: 55.0%;
  --color-light-color-7-chroma: 0.25;
  --color-light-color-7-hue: 45.0;
  --color-light-color-7-alpha: 1.0;
  --color-light-color-7: oklch(var(--color-light-color-7-lightness) var(--color-light-color-7-chroma) var(--color-light-color-7-hue) / var(--color-light-color-7-alpha));
  --color-light-color-8-lightness: 50.0%;
  --color-light-color-8-chroma: 0.28;
  --color-light-color-8-hue: 235.0;
  --color-light-color-8-alpha: 1.0;
  --color-light-color-8: oklch(var(--color-light-color-8-lightness) var(--color-light-color-8-chroma) var(--color-light-color-8-hue) / var(--color-light-color-8-alpha));
  --color-light-color-9-lightness: 55.0%;
  --color-light-color-9-chroma: 0.26;
  --color-light-color-9-hue: 210.0;
  --color-light-color-9-alpha: 1.0;
  --color-light-color-9: oklch(var(--color-light-color-9-lightness) var(--color-light-color-9-chroma) var(--color-light-color-9-hue) / var(--color-light-color-9-alpha));
  --color-light-color-10-lightness: 57.0%;
  --color-light-color-10-chroma: 0.27;
  --color-light-color-10-hue: 260.0;
  --color-light-color-10-alpha: 1.0;
  --color-light-color-10: oklch(var(--color-light-color-10-lightness) var(--color-light-color-10-chroma) var(--color-light-color-10-hue) / var(--color-light-color-10-alpha));
  --color-light-color-11-lightness: 55.0%;
  --color-light-color-11-chroma: 0.25;
  --color-light-color-11-hue: 45.0;
  --color-light-color-11-alpha: 1.0;
  --color-light-color-11: oklch(var(--color-light-color-11-lightness) var(--color-light-color-11-chroma) var(--color-light-color-11-hue) / var(--color-light-color-11-alpha));
  --color-dark-color-0-lightness: 55.0%;
  --color-dark-color-0-chroma: 0.22400000000000003;
  --color-dark-color-0-hue: 235.0;
  --color-dark-color-0-alpha: 1.0;
  --color-dark-color-0: oklch(var(--color-dark-color-0-lightness) var(--color-dark-color-0-chroma) var(--color-dark-color-0-hue) / var(--color-dark-color-0-alpha));
  --color-dark-color-1-lightness: 50.0%;
  --color-dark-color-1-chroma: 0.20800000000000002;
  --color-dark-color-1-hue: 210.0;
  --color-dark-color-1-alpha: 1.0;
  --color-dark-color-1: oklch(var(--color-dark-color-1-lightness) var(--color-dark-color-1-chroma) var(--color-dark-color-1-hue) / var(--color-dark-color-1-alpha));
  --color-dark-color-2-lightness: 48.0%;
  --color-dark-color-2-chroma: 0.21600000000000003;
  --color-dark-color-2-hue: 260.0;
  --color-dark-color-2-alpha: 1.0;
  --color-dark-color-2: oklch(var(--color-dark-color-2-lightness) var(--color-dark-color-2-chroma) var(--color-dark-color-2-hue) / var(--color-dark-color-2-alpha));
  --color-dark-color-3-lightness: 50.0%;
  --color-dark-color-3-chroma: 0.2;
  --color-dark-color-3-hue: 45.0;
  --color-dark-color-3-alpha: 1.0;
  --color-dark-color-3: oklch(var(--color-dark-color-3-lightness) var(--color-dark-color-3-chroma) var(--color-dark-color-3-hue) / var(--color-dark-color-3-alpha));
  --color-dark-color-4-lightness: 60.0%;
  --color-dark-color-4-chroma: 0.22400000000000003;
  --color-dark-color-4-hue: 235.0;
  --color-dark-color-4-alpha: 1.0;
  --color-dark-color-4: oklch(var(--color-dark-color-4-lightness) var(--color-dark-color-4-chroma) var(--color-dark-color-4-hue) / var(--color-dark-color-4-alpha));
  --color-dark-color-5-lightness: 55.0%;
  --color-dark-color-5-chroma: 0.20800000000000002;
  --color-dark-color-5-hue: 210.0;
  --color-dark-color-5-alpha: 1.0;
  --color-dark-color-5: oklch(var(--color-dark-color-5-lightness) var(--color-dark-color-5-chroma) var(--color-dark-color-5-hue) / var(--color-dark-color-5-alpha));
  --color-dark-color-6-lightness: 53.0%;
  --color-dark-color-6-chroma: 0.21600000000000003;
  --color-dark-color-6-hue: 260.0;
  --color-dark-color-6-alpha: 1.0;
  --color-dark-color-6: oklch(var(--color-dark-color-6-lightness) var(--color-dark-color-6-chroma) var(--color-dark-color-6-hue) / var(--color-dark-color-6-alpha));
  --color-dark-color-7-lightness: 55.0%;
  --color-dark-color-7-chroma: 0.2;
  --color-dark-color-7-hue: 45.0;
  --color-dark-color-7-alpha: 1.0;
  --color-dark-color-7: oklch(var(--color-dark-color-7-lightness) var(--color-dark-color-7-chroma) var(--color-dark-color-7-hue) / var(--color-dark-color-7-alpha));
  --color-dark-color-8-lightness: 60.0%;
  --color-dark-color-8-chroma: 0.22400000000000003;
  --color-dark-color-8-hue: 235.0;
  --color-dark-color-8-alpha: 1.0;
  --color-dark-color-8: oklch(var(--color-dark-color-8-lightness) var(--color-dark-color-8-chroma) var(--color-dark-color-8-hue) / var(--color-dark-color-8-alpha));
  --color-dark-color-9-lightness: 55.0%;
  --color-dark-color-9-chroma: 0.20800000000000002;
  --color-dark-color-9-hue: 210.0;
  --color-dark-color-9-alpha: 1.0;
  --color-dark-color-9: oklch(var(--color-dark-color-9-lightness) var(--color-dark-color-9-chroma) var(--color-dark-color-9-hue) / var(--color-dark-color-9-alpha));
  --color-dark-color-10-lightness: 53.0%;
  --color-dark-color-10-chroma: 0.21600000000000003;
  --color-dark-color-10-hue: 260.0;
  --color-dark-color-10-alpha: 1.0;
  --color-dark-color-10: oklch(var(--color-dark-color-10-lightness) var(--color-dark-color-10-chroma) var(--color-dark-color-10-hue) / var(--color-dark-color-10-alpha));
  --color-dark-color-11-lightness: 55.0%;
  --color-dark-color-11-chroma: 0.2;
  --color-dark-color-11-hue: 45.0;
  --color-dark-color-11-alpha: 1.0;
  --color-dark-color-11: oklch(var(--color-dark-color-11-lightness) var(--color-dark-color-11-chroma) var(--color-dark-color-11-hue) / var(--color-dark-color-11-alpha));
  --color-light-neutral-1: oklch(1.0% 0.01 235.0);
  --color-light-neutral-2: oklch(20.0% 0.01 235.0);
  --color-light-neutral-3: oklch(30.0% 0.01 235.0);
  --color-light-neutral-4: oklch(40.0% 0.01 235.0);
  --color-light-neutral-5: oklch(50.0% 0.01 235.0);
  --color-light-neutral-6: oklch(60.0% 0.01 235.0);
  --color-light-neutral-7: oklch(70.0% 0.01 235.0);
  --color-light-neutral-8: oklch(85.0% 0.01 235.0);
  --color-light-neutral-9: oklch(95.0% 0.01 235.0);
  --color-light-neutral-10: oklch(99.0% 0.01 235.0);
  --color-dark-neutral-1: oklch(99.0% 0.01 235.0);
  --color-dark-neutral-2: oklch(95.0% 0.01 235.0);
  --color-dark-neutral-3: oklch(85.0% 0.01 235.0);
  --color-dark-neutral-4: oklch(70.0% 0.01 235.0);
  --color-dark-neutral-5: oklch(60.0% 0.01 235.0);
  --color-dark-neutral-6: oklch(50.0% 0.01 235.0);
  --color-dark-neutral-7: oklch(40.0% 0.01 235.0);
  --color-dark-neutral-8: oklch(30.0% 0.01 235.0);
  --color-dark-neutral-9: oklch(20.0% 0.01 235.0);
  --color-dark-neutral-10: oklch(1.0% 0.01 235.0);
  --shadow-color-light: oklch(7% 0.1 235.0);
  --shadow-color-dark: oklch(3% 0.03 235.0);
}

:root {
  color-scheme: light;
  --color-color-0: var(--color-light-color-0);
  --color-color-1: var(--color-light-color-1);
  --color-color-2: var(--color-light-color-2);
  --color-color-3: var(--color-light-color-3);
  --color-color-4: var(--color-light-color-4);
  --color-color-5: var(--color-light-color-5);
  --color-color-6: var(--color-light-color-6);
  --color-color-7: var(--color-light-color-7);
  --color-color-8: var(--color-light-color-8);
  --color-color-9: var(--color-light-color-9);
  --color-color-10: var(--color-light-color-10);
  --color-color-11: var(--color-light-color-11);
  --color-neutral-1: var(--color-light-neutral-1);
  --color-neutral-2: var(--color-light-neutral-2);
  --color-neutral-3: var(--color-light-neutral-3);
  --color-neutral-4: var(--color-light-neutral-4);
  --color-neutral-5: var(--color-light-neutral-5);
  --color-neutral-6: var(--color-light-neutral-6);
  --color-neutral-7: var(--color-light-neutral-7);
  --color-neutral-8: var(--color-light-neutral-8);
  --color-neutral-9: var(--color-light-neutral-9);
  --color-neutral-10: var(--color-light-neutral-10);
  --shadow-color: var(--shadow-color-light);
  --contrast-color: black;
  --contrast-color-mix-percent: 10%;
}

@media (prefers-color-scheme:dark) {
  :root {
    color-scheme: dark;
  --color-color-0: var(--color-dark-color-0);
  --color-color-1: var(--color-dark-color-1);
  --color-color-2: var(--color-dark-color-2);
  --color-color-3: var(--color-dark-color-3);
  --color-color-4: var(--color-dark-color-4);
  --color-color-5: var(--color-dark-color-5);
  --color-color-6: var(--color-dark-color-6);
  --color-color-7: var(--color-dark-color-7);
  --color-color-8: var(--color-dark-color-8);
  --color-color-9: var(--color-dark-color-9);
  --color-color-10: var(--color-dark-color-10);
  --color-color-11: var(--color-dark-color-11);
  --color-neutral-1: var(--color-dark-neutral-1);
  --color-neutral-2: var(--color-dark-neutral-2);
  --color-neutral-3: var(--color-dark-neutral-3);
  --color-neutral-4: var(--color-dark-neutral-4);
  --color-neutral-5: var(--color-dark-neutral-5);
  --color-neutral-6: var(--color-dark-neutral-6);
  --color-neutral-7: var(--color-dark-neutral-7);
  --color-neutral-8: var(--color-dark-neutral-8);
  --color-neutral-9: var(--color-dark-neutral-9);
  --color-neutral-10: var(--color-dark-neutral-10);
  --shadow-color: var(--shadow-color-dark);
  --contrast-color: white;
  --contrast-color-mix-percent: 5%;
  }
}

.light,
[color-scheme=light] {
  color-scheme: light;
  --color-color-0: var(--color-light-color-0);
  --color-color-1: var(--color-light-color-1);
  --color-color-2: var(--color-light-color-2);
  --color-color-3: var(--color-light-color-3);
  --color-color-4: var(--color-light-color-4);
  --color-color-5: var(--color-light-color-5);
  --color-color-6: var(--color-light-color-6);
  --color-color-7: var(--color-light-color-7);
  --color-color-8: var(--color-light-color-8);
  --color-color-9: var(--color-light-color-9);
  --color-color-10: var(--color-light-color-10);
  --color-color-11: var(--color-light-color-11);
  --color-neutral-1: var(--color-light-neutral-1);
  --color-neutral-2: var(--color-light-neutral-2);
  --color-neutral-3: var(--color-light-neutral-3);
  --color-neutral-4: var(--color-light-neutral-4);
  --color-neutral-5: var(--color-light-neutral-5);
  --color-neutral-6: var(--color-light-neutral-6);
  --color-neutral-7: var(--color-light-neutral-7);
  --color-neutral-8: var(--color-light-neutral-8);
  --color-neutral-9: var(--color-light-neutral-9);
  --color-neutral-10: var(--color-light-neutral-10);
  --shadow-color: var(--shadow-color-light);
  --contrast-color: black;
  --contrast-color-mix-percent: 10%;
}

.dark,
[color-scheme=dark] {
  color-scheme: dark;
  --color-color-0: var(--color-dark-color-0);
  --color-color-1: var(--color-dark-color-1);
  --color-color-2: var(--color-dark-color-2);
  --color-color-3: var(--color-dark-color-3);
  --color-color-4: var(--color-dark-color-4);
  --color-color-5: var(--color-dark-color-5);
  --color-color-6: var(--color-dark-color-6);
  --color-color-7: var(--color-dark-color-7);
  --color-color-8: var(--color-dark-color-8);
  --color-color-9: var(--color-dark-color-9);
  --color-color-10: var(--color-dark-color-10);
  --color-color-11: var(--color-dark-color-11);
  --color-neutral-1: var(--color-dark-neutral-1);
  --color-neutral-2: var(--color-dark-neutral-2);
  --color-neutral-3: var(--color-dark-neutral-3);
  --color-neutral-4: var(--color-dark-neutral-4);
  --color-neutral-5: var(--color-dark-neutral-5);
  --color-neutral-6: var(--color-dark-neutral-6);
  --color-neutral-7: var(--color-dark-neutral-7);
  --color-neutral-8: var(--color-dark-neutral-8);
  --color-neutral-9: var(--color-dark-neutral-9);
  --color-neutral-10: var(--color-dark-neutral-10);
  --shadow-color: var(--shadow-color-dark);
  --contrast-color: white;
  --contrast-color-mix-percent: 5%;
}
