:root {
  --space: 1rem;
  --space-3xs: clamp(0.25rem, calc(0.2011rem + 0.2446vw), 0.3906rem);
  --space-2xs: clamp(0.5rem, calc(0.4022rem + 0.4891vw), 0.7812rem);
  --space-xs: clamp(0.75rem, calc(0.6033rem + 0.7337vw), 1.172rem);
  --space-s: clamp(1rem, calc(0.8043rem + 0.9783vw), 1.562rem);
  --space-m: clamp(1.5rem, calc(1.207rem + 1.467vw), 2.344rem);
  --space-l: clamp(2rem, calc(1.609rem + 1.957vw), 3.125rem);
  --space-xl: clamp(3rem, calc(2.413rem + 2.935vw), 4.688rem);
  --space-2xl: clamp(4rem, calc(3.217rem + 3.913vw), 6.25rem);
  --space-3xl: clamp(5rem, calc(4.022rem + 4.891vw), 7.812rem);
  --space-3xs-2xs: clamp(0.25rem, calc(0.06522rem + 0.9239vw), 0.7812rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.2663rem + 1.168vw), 1.172rem);
  --space-xs-s: clamp(0.75rem, calc(0.4674rem + 1.413vw), 1.562rem);
  --space-s-m: clamp(1rem, calc(0.5326rem + 2.337vw), 2.344rem);
  --space-m-l: clamp(1.5rem, calc(0.9348rem + 2.826vw), 3.125rem);
  --space-l-xl: clamp(2rem, calc(1.065rem + 4.674vw), 4.688rem);
  --space-xl-2xl: clamp(3rem, calc(1.87rem + 5.652vw), 6.25rem);
  --space-2xl-3xl: clamp(4rem, calc(2.674rem + 6.63vw), 7.812rem);
  --space-3xs-2xs: clamp(0.25rem, calc(0.06522rem + 0.9239vw), 0.7812rem);
  --space-3xs-xs: clamp(0.25rem, calc(-0.07065rem + 1.603vw), 1.172rem);
  --space-3xs-s: clamp(0.25rem, calc(-0.2065rem + 2.283vw), 1.562rem);
  --space-3xs-m: clamp(0.25rem, calc(-0.4783rem + 3.641vw), 2.344rem);
  --space-3xs-l: clamp(0.25rem, calc(-0.75rem + 5vw), 3.125rem);
  --space-3xs-xl: clamp(0.25rem, calc(-1.293rem + 7.717vw), 4.688rem);
  --space-3xs-2xl: clamp(0.25rem, calc(-1.837rem + 10.43vw), 6.25rem);
  --space-3xs-3xl: clamp(0.25rem, calc(-2.38rem + 13.15vw), 7.812rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.2663rem + 1.168vw), 1.172rem);
  --space-2xs-s: clamp(0.5rem, calc(0.1304rem + 1.848vw), 1.562rem);
  --space-2xs-m: clamp(0.5rem, calc(-0.1413rem + 3.207vw), 2.344rem);
  --space-2xs-l: clamp(0.5rem, calc(-0.413rem + 4.565vw), 3.125rem);
  --space-2xs-xl: clamp(0.5rem, calc(-0.9565rem + 7.283vw), 4.688rem);
  --space-2xs-2xl: clamp(0.5rem, calc(-1.5rem + 10vw), 6.25rem);
  --space-2xs-3xl: clamp(0.5rem, calc(-2.043rem + 12.72vw), 7.812rem);
  --space-xs-s: clamp(0.75rem, calc(0.4674rem + 1.413vw), 1.562rem);
  --space-xs-m: clamp(0.75rem, calc(0.1957rem + 2.772vw), 2.344rem);
  --space-xs-l: clamp(0.75rem, calc(-0.07609rem + 4.13vw), 3.125rem);
  --space-xs-xl: clamp(0.75rem, calc(-0.6196rem + 6.848vw), 4.688rem);
  --space-xs-2xl: clamp(0.75rem, calc(-1.163rem + 9.565vw), 6.25rem);
  --space-xs-3xl: clamp(0.75rem, calc(-1.707rem + 12.28vw), 7.812rem);
  --space-s-m: clamp(1rem, calc(0.5326rem + 2.337vw), 2.344rem);
  --space-s-l: clamp(1rem, calc(0.2609rem + 3.696vw), 3.125rem);
  --space-s-xl: clamp(1rem, calc(-0.2826rem + 6.413vw), 4.688rem);
  --space-s-2xl: clamp(1rem, calc(-0.8261rem + 9.13vw), 6.25rem);
  --space-s-3xl: clamp(1rem, calc(-1.37rem + 11.85vw), 7.812rem);
  --space-m-l: clamp(1.5rem, calc(0.9348rem + 2.826vw), 3.125rem);
  --space-m-xl: clamp(1.5rem, calc(0.3913rem + 5.543vw), 4.688rem);
  --space-m-2xl: clamp(1.5rem, calc(-0.1522rem + 8.261vw), 6.25rem);
  --space-m-3xl: clamp(1.5rem, calc(-0.6957rem + 10.98vw), 7.812rem);
  --space-l-xl: clamp(2rem, calc(1.065rem + 4.674vw), 4.688rem);
  --space-l-2xl: clamp(2rem, calc(0.5217rem + 7.391vw), 6.25rem);
  --space-l-3xl: clamp(2rem, calc(-0.02174rem + 10.11vw), 7.812rem);
  --space-xl-2xl: clamp(3rem, calc(1.87rem + 5.652vw), 6.25rem);
  --space-xl-3xl: clamp(3rem, calc(1.326rem + 8.37vw), 7.812rem);
  --space-2xl-3xl: clamp(4rem, calc(2.674rem + 6.63vw), 7.812rem);
}
